header {
  background: $bg-color;
  height: $header-height;
  position: relative;
  z-index: 10;
  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $light;
    font-size: $header-font--size;
  }
}

nav {
  height: $header-height;
  background: $bg-color;
  color: $light;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;

    li {
      font-size: $header-font--size;
    }
  }
  .hr {
    background: rgba(128, 128, 128, 0.4);

    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 111;
  }
}

.hero-wrapper {
  // width: 100svw;
  // overflow-x: hidden;
  position: relative;
  z-index: 1;
  background-color: $bg-color;

  .hero-video {
    width: 100%;
    height: $banner-video--height;
    position: sticky;
    inset: 0;
    // margin-top: calc($header-height * (-2));
    margin-top: -14rem;
    display: block;
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
    .video-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      inset: 0;
      z-index: 1;
      opacity: 0;
    }
  }
  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $banner-video--height;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 4rem;
    padding: 12rem 6rem;
    width: 100svw;
    height: calc(100svh - 4rem * 2);
    margin-top: -8rem;
    overflow-x: hidden;
  }
  .usp {
    position: relative;
    z-index: 2;
    padding-left: 6rem;
    padding-bottom: 4rem;
    p {
      font-size: 6rem;
      margin-top: 4rem;
      font-weight: 600;
      max-width: 70%;
      sup {
        font-size: 2rem;
      }
    }
  }
}
.prices-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding-bottom: 8rem;
  .price-card {
    padding: 2rem;
    & > * {
      margin-top: 1rem;
    }
    & > button {
      margin-top: 2rem;
    }
    .price-sub--title {
      font-size: 2.5rem;
    }
    .price-main--title {
      font-size: 5rem;
    }
    .price-text {
      font-size: 1.8rem;
      color: #a1a1a6;
    }
    a {
      color: #2997ff;
    }
  }
}
.crousel-wrapper {
  height: 280vh;
  position: relative;
  .crousel {
    position: sticky;
    margin-top: -100vh;
    top: 0;
    left: 0;
    .sliders {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
      padding: 1rem 0;
    }
    .slider {
      flex-shrink: 0;
    }

    img {
      width: 66vw;
      border-radius: 1.5rem;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }
}
.marque-wrapper {
  position: relative;
  overflow-x: clip;
  margin-top: -80px;
  .marque-inner {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 0;
    gap: 1rem;
  }
  // z-index: 50;
  .marque-1 {
    animation: loop 15s linear infinite;
  }
  .marque-2 {
    animation: loop 10s linear 0s infinite reverse ;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
  }
  img {
    border-radius: 1rem;
    width: 25vw;
    aspect-ratio: 16/9;
    flex-shrink: 0;
    cursor: pointer;
  }
}

.test {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
